* {
    -fx-background-color: rgba(41, 41, 41, 255);
}
#gridp {
    -fx-background-image:url("images/bg.png");
    -fx-background-repeat: stretch;
    -fx-pref-width: 600px;
    -fx-pref-height: 600px;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-alignment: center;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
}

.button:hover{
    -fx-background-color: rgba(80, 80, 80, 80);
}

.menu-bar{
    -fx-background-color: rgba(41, 41, 41, 255);
}
.menu .label {
    -fx-text-fill: white;
}

.vbox{
    -fx-alignment: center center;
}
.hbox{
    -fx-tile-alignment: center;
    -fx-alignment: center;
}

#turnButton, #turnPrevLabel {
    -fx-max-width: 1920px;
    -fx-min-width: 600px;
    -fx-pref-height: 120px;
    -fx-font-size: 50;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-text-fill: white;
}

