<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the configuration file for log4j -->
<Configuration>
    <!--
    NOTES: - Appenders are the log locations/channels
           - Appenders can be files, databases, web-services and other
           - Those appenders can be defined and customized here
    -->
    <Appenders>

        <File name="ERRORLOG" fileName="logs/error.log" append="false">
            <PatternLayout pattern="%d [%t] %-5p - %m%n"/>
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p - %m%n"/>
        </Console>

    </Appenders>

    <!--
    NOTES: - Loggers are the writers used in the java code to log
           - Those writers can be defined and customized here and used in the code
           - The root logger is the logger that logs the whole application
     -->
    <Loggers>

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="ERRORLOG"/>
        </Root>

    </Loggers>
</Configuration>